.transaction-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.delete-button {
  background-color: transparent;
  border: none;
}

.delete-icon {
  height: 20px;
  width: 20px;
  align-self: center;
  pointer-events: cursor;
  margin-top: 0px;
}
